spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fit-tracker
    name: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

security:
  jwt:
    issuer: localhost
    secret: 5Pq8vWx2Yz4Bc6Df9Gh1Jk3Lm7Np0Qr2St5Uv8Wx1Yz4Ab6Cd9Ef2Gh5Jk8Lm=