spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fit-tracker
    name: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

security:
  jwt:
    issuer: localhost
    secret: ${JWT_SECRET}

usda:
  base-url: "https://api.nal.usda.gov"
  api-key: "${USDA_API_KEY}"